/* Slovar starega orodja v govoru Loškega Potoka (SSOLP)
    Copyright (C) 2018  Aleksandar Nusheski (an0548@student.uni-lj.si) &
	                    Dimitrije Mitić (dm0935@student.uni-lj.si)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>. */

body{
    background-image: url("../logos/non-index-background.png");
    background-repeat: no-repeat;
    background-size: 400% 400%;
}

a:link, a:hover, a:active, a:visited{
    text-decoration: none;
    color: #B69474;
}

.text-muted2{
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 450;
    font-size: 1rem;
    color: #95989A !important;
}

h4{
	padding-top: 1rem;
}

.FontCabin{
    font-family: Cabin;
}
.Cabin{
    font-family: Cabin;
    font-size: 16px;
    font-weight: 450;
}

.NotBold{
    font-weight:normal;
}
.Bold{
    font-weight:bold;
}
.BoldItalic{
    font-weight:bold;
	font-style:italic;
}
.Italic{
	font-style:italic;
}
.Small{
    font-size:small;
}

.SvetloRjava{
    color: #B69474;    
}

.Picture{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 50px;
	width: 80%;
}
.InlinePicture{
	margin-left: 5px;
	margin-right: 10px;
	width: 30px;
}

html p{
    font-size: 1rem;
}
@media only screen and (max-width: 575.98px) {
    html{
        font-size: 0.2rem;
    }
}
@media only screen and (max-width: 767.98px) {
    html p, html a, html h1{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 991.98px) {
    html{
        font-size: 0.9rem;
    }
    .Cabin{
        font-size: 0.8rem;
    }
}
