/* Slovar starega orodja v govoru Loškega Potoka (SSOLP)
    Copyright (C) 2018  Aleksandar Nusheski (an0548@student.uni-lj.si) &
	                    Dimitrije Mitić (dm0935@student.uni-lj.si)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>. */

/* Font ZRCola */	
@font-face {
    font-family: ZRCola;
    src: url('../fonts/zrcolare.woff2') format('woff2'),
         url('../fonts/zrcolare.woff') format('woff');
}
@font-face {
    font-family: ZRColabd;
    src: url('../fonts/zrcolabd.woff2') format('woff2'),
         url('../fonts/zrcolabd.woff') format('woff');
}
@font-face {
    font-family: ZRColabi;
    src: url('../fonts/zrcolabi.woff2') format('woff2'),
         url('../fonts/zrcolabi.woff') format('woff');
}
@font-face {
    font-family: ZRColait;
    src: url('../fonts/zrcolait.woff2') format('woff2'),
         url('../fonts/zrcolait.woff') format('woff');
}
/* End Font ZRCola*/

/* CONFIGURATION */
.px-6{
    padding-right: 4rem;
    padding-left: 4rem;
}
/* CONFIGURATION END */

body{
    background-image: url("../logos/non-index-background.png");
    background-repeat: no-repeat;
    background-size: 400% 400%;
}
#AVI{
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
#KeywordDetails > p, #KeywordDetails > #MoreInfoKeyword > p{
    font-family: "Bookman Old Style";
    color: #95989A;
    margin-bottom: 10px;
    line-height: 1.6;
    white-space: pre-wrap;
}
#KeywordDetails > p > a, #KeywordDetails > #MoreInfoKeyword > p > a{
    font-size: 14px;
    margin-right: 0.5rem;
    white-space: nowrap;
}
#KeywordDetails > p > a:first-child, #KeywordDetails > #MoreInfoKeyword > p > a:first-child{
    margin-left: 1rem;
}
.clickable{
    color: white;
    cursor: pointer;
}
.sopomenke{
    background-color: #4e3e2e;
}
.sestavniDeli{
    background-color: #dec561;
}
.vrste{
    background-color: #b69474;
}
.OrodjaZaVzdrzevanje{
    background-color: #e8b17b;
}
.BesedeIstiKoren{
    background-color: #a1d19b;
}
.nadpomenke{
    background-color: #725a42;
}
#KeywordDetails > .text-muted2{
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 450;
    font-size: 30px;
    color: #95989A !important;
}
a:link, a:hover, a:active, a:visited{
    text-decoration: none;
    color: white;
}
#AVIContainer{
    margin-bottom: 10px;
    padding-right: 0px;
}
.ZRCola{
    font-family: "ZRCola" !important;
}
.ZRColaBold{
    font-family: "ZRColabd" !important;
}
#PicturesCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    display: flex;
    align-content: center;
}

#PicturesCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#PicturesCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#PicturesCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
#PicturesCarousel, #VideosCarousel, #AudiosCarousel{
    background-color: #EEEBEB;
}
#VideosCarousel > .carousel-control-prev {
    margin-left: -25px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 20% !important;
}
#VideosCarousel > .carousel-control-next {
    margin-right: -25px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#VideoDetails{
    background-color: #E5E1E1;
    overflow-y: hidden;
}
.FontCabin{
    font-family: Cabin;
}
.Cabin{
    font-family: Cabin;
    font-size: 16px;
    font-weight: 450;
}
#VideoDetailsText{
    overflow: auto;
    height: 70%;
}
.VideoTranscription, .VideoTranslation{
    display: flex;
    flex-direction: column;
}
.fill {
    flex:1;
}
.AudioTra{
    overflow: auto;
    height: 150px;
}
.TextAudio > p{
    font-size: 14px;
}
.fix {
    height: 40px;
    width: auto;
}
#VideosCarousel > .carousel-control-prev,
#VideosCarousel > .carousel-control-next{
      bottom: 10%;
}
#Foto, #Kamera, #Zvok{
    height: 35px;
    width: 35px;
}
.RoundedPicture{
    border-radius: 1rem !important;
}
.NotBold{
    font-weight:normal;
}
#AudiosCarouselPrev{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
#AudiosCarouselNext{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#AudiosCarousel > .carousel-control-prev,
#AudiosCarousel > .carousel-control-next{
    top: 20%;
    width: 5%;
}
.MoreInfo{
    width: 5rem;
    height: 24px;
    font-weight: 500;
    padding-right: 10px;
    border-radius: 25px;
    color: white;
    background-color: #B69474;
    cursor: pointer;
}

.img-responsive{
    height: 60%;
    width: auto;
}
.vertical-center{
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.rounded-keyword{
    border-radius: 1rem;
}
.NoBackground{
    background-color: rgba(255,255,255,0) !important;
}
/* All Keywords In Subcategory Viewer */
.PictureKeywordContainer{
    overflow: hidden;
    height: 150px;
    background-color: #D1D1D1;
    position: relative;
}
.rotate{
    transform: rotate(-90deg);
}
.PictureKeywordSubcategory{
    -moz-transition: transform 0s;
    -webkit-transition: transform 0s;
    transition: transform 0s;
}
.SvetloRjava{
    color: #B69474;    
}

.Siva{
    color: black;
    opacity: 0.5;    
}

.FontBookman{
    font-family: "Bookman Old Style";
}
#PictureSlide, #OnePictureImage, #NoPictureImage, #AudioImage, #VideoImage{
    height: 300px !important;
    width: auto;
}
.ToKeyword{
    width: 30%;
    font-weight: 500;
    padding-right: 10px;
    border-radius: 25px;
    color: white;
    background-color: #B69474;
    cursor: pointer;
}

.NavigationDiv{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 30px;
}
.Kategorija{
    background-color: #B7B7B7;
    z-index: 9;
}
.Podkategorija{
    background-color: #C1C1C1;
    margin-left: -25px;
    z-index: 8;
}
.Beseda{
    background-color: #D1D1D1;
    margin-left: -25px;
}
.Navigation:link, .Navigation:visited, .Navigation:hover, .Navigation:active{
    text-decoration: none;
    color: white;
}
.NavigationDiv:hover > a{
    overflow: visible;
}
.Navigation{
    font-size: 0.7rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.column-in-center{
    float: none;
    margin: 0 auto;
}

html p{
    font-size: 1rem;
}
@media only screen and (max-width: 575.98px) {
    html{
        font-size: 0.2rem;
    }
    .Navigation{
        font-size: 0.2rem;
    }
    .ToKeyword{
        width: 100%;
        font-size: 10px;
        padding-right: 2px;
    }
}
@media only screen and (max-width: 767.98px) {
    html p, html a, html h1{
        font-size: 0.8rem;
    }
    .Navigation{
        font-size: 0.8rem;
    }
    #AVI {
        position: fixed;
        top: 50%;
        right: 5%;
        display: block;
        z-index: 99;
    }
    #AVI > div > img, #AVI div {
        display: block;
        margin-bottom: 5px;;
    }
    #AVIContainerInner, #PicturesCarousel, #VideosCarousel, #Audio{
        width: auto;
        height: 100%;
    }
    #KeywordDetails > p, #KeywordDetails > #MoreInfoKeyword > p{
        line-height: 2;
        white-space: pre-wrap;
    }
    #VideoDetails{
        background-color: #E5E1E1;
    }
    #VideoDetailsText{
        overflow: auto;
    }
    .ToKeyword{
        width: 60%;
        font-size: 10px;
        padding-right: 2px;
    }
}
@media only screen and (max-width: 991.98px) {
    html{
        font-size: 0.9rem;
    }
    .Cabin{
        font-size: 0.8rem;
    }
}