/* Slovar starega orodja v govoru Loškega Potoka (SSOLP)
    Copyright (C) 2018  Aleksandar Nusheski (an0548@student.uni-lj.si) &
	                    Dimitrije Mitić (dm0935@student.uni-lj.si)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>. */

@media only screen and (min-width: 992.02px) {
    .navbar-brand {
        position: absolute;
        left: 0px;
        top: 0px;
        margin-left: 0px;
        opacity: 1 !important;
    }
}
.navbar-brand {           
    opacity: 1 !important;
    overflow: auto;
}
.dropdown-toggle::after {
    display:none;
}
.dropdown-menu{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color:rgba(255,255,255,0) !important;    
    margin-top: 0;  
}
.dropdown-menu:first-child{
    border-top: none;
}
.dropdown-menu .show{
    display: flex !important;
}
.dropdown-menu > .dropdown-item{
    background-color:rgba(241,235,220, 1) !important;    
    white-space: normal;
    word-wrap: break-word;
    color: #787878;
    border-top: 1px solid #C6C6C6;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu > .dropdown-item:hover{
    background-color:rgba(255,255,255, 1) !important;    
}
.navbar-color{
    background-color:rgba(255,255,255,0.63);
    padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #787878;
    border-left: 1px solid #C6C6C6;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic";
}
.nav-item{
    font-size: 0.9rem;
}
.BorderRight{
    border-right: 1px solid #C6C6C6;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #787878;
}
.nav-link:hover{
    background-color:rgba(255,255,255, 0.95);
    color: #787878;
}
.dropdown-menu .dropdown-item:active{
    background-color:rgba(255,255,255, 0.95);
    color: #787878;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}