/* Slovar starega orodja v govoru Loškega Potoka (SSOLP)
    Copyright (C) 2018  Aleksandar Nusheski (an0548@student.uni-lj.si) &
	                    Dimitrije Mitić (dm0935@student.uni-lj.si)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>. */

#SearchContainer{
    margin-top: 20px;
}
.container{
    margin-top: 20px;
}
#SearchResults{
    position: absolute;
    z-index: 99 !important;
    width: inherit;
    cursor: pointer;
    background-color: white;
    display: none;
    min-width: 120px;
    border-radius: 5px;
    background-color:rgba(255,255,255,1);
}
#SearchResults > li {
    color: black;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}
.ActiveSearch {
    background-color: #EEEBEB;
}
#SearchResults > li:hover{
    background-color: white;
    color: black;
}
#SearchResults{

    padding: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.btn-default{
    background-color: white;
    border: 1px solid gray;
}

/* Info style */
.Barva{
    background-color: #b69474;
    color: white;    
}