/* Slovar starega orodja v govoru Loškega Potoka (SSOLP)
    Copyright (C) 2018  Aleksandar Nusheski (an0548@student.uni-lj.si) &
	                    Dimitrije Mitić (dm0935@student.uni-lj.si)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>. */

html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../logos/naslovna.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-position: bottom left; 
}
.MainText{
    color: white;

}
.NotBold{
    font-weight:normal;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
}

@media only screen and (max-width: 575.98px) {
    html p, html a, html h1, html h2, html h3, html h4, html h5, html span{
        font-size: 0.9rem;
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
    }
    .img-fluid2{
        max-width: 50% !important;
        height: auto !important;
    }
}
@media only screen and (max-width: 767.98px) {
    html p, html a, html h1, html h2, html h3, html h4, html h5, html span{
        font-size: 1rem;
    }
    .img-fluid2{
        max-width: 18% !important;
        height: auto !important;
    }
}
@font-face {
    font-family: Simplon;
    src: url('/static/font/Simplon_BP_Regular_1.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}