/* Slovar starega orodja v govoru Loškega Potoka (SSOLP)
    Copyright (C) 2018  Aleksandar Nusheski (an0548@student.uni-lj.si) &
	                    Dimitrije Mitić (dm0935@student.uni-lj.si)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>. */

/* Font ZRCola Regular */	
@font-face {
    font-family: ZRCola;
    src: url('../fonts/zrcolare.woff2') format('woff2'),
         url('../fonts/zrcolare.woff') format('woff');
}
/* End Font ZRCola */

	
body {
    background-image: url("../logos/non-index-background.png");
    background-repeat: no-repeat;
    background-size: 600% 600%;
}

.ZRCola {
    font-family: "ZRCola" !important;
}
